*{
    margin:0px;
    padding: 0px;
    background-color: rgb(127, 180, 255);
}

.container{
    text-align: center;
    /* padding: 10px;
    margin: 10px; */
    background-color: aqua;
    
}

.inner{
    text-align: center;
    margin: 50px;
}

#input{
    margin-top: 10px;
    padding: 5px;
    font-size: large;
}

.btn{
    padding: 5px;
    font-size: large;
    background-color:blue;
    cursor: pointer;
}

.data{
    text-align: center;
}

.loading{
    display: none;
}

.def{
    font-size: 20px;
    color: #2D3748;
    line-height: 1.6;
    display: none;
}



